<div class="server-card" [ngClass]="{ 'whitelist-server': server().whitelisted }">
  <div class="server-card__name">{{ server().name }}</div>
  <div class="server-card__content">
    <div class="server-card__content-info">
      <div class="server-card__info-online">
        Онлайн: {{ server().currentPlayers }} /
        <i *ngIf="server().maximumPlayers === -1; else maxPlayers" class="fas fa-infinity"></i>
        <ng-template #maxPlayers>{{ server().maximumPlayers }}</ng-template>
      </div>
    </div>
    <div class="server-card__content-buttons">
      @switch (queueState) {
        @case (QueueState.NotInQueue) {
          <app-button [fluid]="true" [disabled]="disabled$ | async" (onClick)="connectToQueue()">
            {{ server().currentPlayers < server().maximumPlayers ? "Играть" : "В очередь" }}
          </app-button>
        }
        @case (QueueState.InQueue) {
          <app-button [fluid]="true" color="'purple'" [disabled]="disabled$ | async">
            Вы {{ queuePosition$ | async }}й в очереди
          </app-button>
        }
        @case (QueueState.AllowedToConnect) {
          <app-button
            [fluid]="true"
            [color]="server().whitelisted ? 'orange' : 'green'"
            [disabled]="disabled$ | async"
            link="{{ serverUrl }}">
            Играть
          </app-button>
        }
      }
    </div>
  </div>
</div>
