html,
body {
  font-size: 16px;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  background-color: var(--color-base);
  color: var(--color-text);
  scrollbar-color: var(--color-scrollbar-thumb) var(--color-scrollbar-base);
}
