/* You can add global styles to this file, and also import other style files */
@import './app/components/base.scss';

body,
html {
  margin: 0;
  font-size: $font-size;
  font-family: sans-serif;
  color: $color-text-darker;
  scrollbar-color: $color-scrollbar-thumb $color-scrollbar-base;
}

body {
  background-color: $color-bg;
  background-image: $nt-image;
  background-size: 40%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}
